In [ ]:
#1.soma de todos os elementos.

num= [10, 20, 30, 40, 55, 13, 16, 11, 23, 77]

soma= sum(num)
print(soma)

295

In [ ]:
#2. Adicionar um número ao final de uma lista
num = [1, 2, 5, 7, 8]
num.append(10)
print(num)

[1, 2, 5, 7, 8, 10]

In [ ]:
#3. Remover o último item

num = [1, 2, 5, 7, 8]
num.remove(8)
print(num)

[1, 2, 5, 7]

In [ ]:
#4. Verificar se um número específico está presente na lista.

num = [1, 2, 5, 7, 8]
print(8 in num)

True

In [ ]:
#5. imprimir apenas os números pares.

num = [1, 2, 5, 6, 7, 10, 88]

for i in num:
  if i % 2 == 0:
    print(i)

2
6
10
88

In [ ]:
#6. imprimir cada nome separadamente.

nom= ["Guilherme", "Oliveira", "Souza", "Silva", "Santos"]
print(nom[0])
print(nom[1])
print(nom[2])
print(nom[3])
print(nom[4])

Guilherme
Oliveira
Souza
Silva
Santos

In [ ]:
#7. verificar quantas vezes uma palavra específica aparece.

nome =  ["cachorro", "gato", "rato", "passaro", "passaro"]
contador = 0
for nome in nome:
  if nome == "passaro":
    contador += 1
print(contador)

2

In [ ]:
#8. imprimir o maior número.

num = [1, 2, 5, 7, 88]
print(max(num))

88

In [ ]:
#9. limpar todos os elementos dela.

num = [1, 2, 5, 7, 88]
num.clear ()
print(num)

[]

In [ ]:
#10. lista de números em ordem crescente e decrescente.

num = [13, 27, 5, 7, 1, 9, 88]
num.sort()
print(num)
num.sort(reverse=True)
print(num)

[1, 5, 7, 9, 13, 27, 88]
[88, 27, 13, 9, 7, 5, 1]

In [ ]:
#11. substituir o segundo elemento por um novo valor.

num = [1, 2, 5, 7, 88]
num[1] = 10
print(num)

[1, 10, 5, 7, 88]

In [ ]:
#12. Inverter a ordem dos elementos em uma lista.

num = [1, 2, 5, 7, 88]
num.reverse()
print(num)

[88, 7, 5, 2, 1]

In [ ]:
#13. imprimir apenas os números ímpares.

num = [1, 33, 5, 7, 3, 88]

for i in num:
  if i % 2 != 0:
    print(i)

1
33
5
7
3

In [ ]:
#14. Concatenar duas listas e imprimir o resultado.

lista1 = [1, 4, 6, 8 ,10, 13, 17]
lista2 = [1, 4, 6, 8 ,10]
lista3 = lista1 + lista2
print(lista3)

[1, 4, 6, 8, 10, 13, 17, 1, 4, 6, 8, 10]

In [ ]:
#15.Criar uma lista com os dias da semana e imprimir o terceiro dia.

semana= ["segunda", "terça", "quarta", "quinta", "sexta", "sabado", "domingo"]

print(semana[2])

quarta

In [ ]:
#16. exibir apenas os nomes que começam com a letra "A"

nom= ["Elisangela", "Anderson", "Aline", "Henrique", "Caio"]
for nome in nom:
  if nome.startswith("A"):
    print(nome)

Anderson
Aline

In [ ]:
#17. Criar uma lista de 5 números e multiplicar cada número por 3.

num = [1, 4, 6, 8 ,10, 13, 17]
for num in num:
  print(num * 3)

3
12
18
24
30
39
51

In [ ]:
#18. Criar uma lista com 4 cores e exibir a última cor

cores= ["azul", "verde", "amarelo", "vermelho"]
print(cores[3])

vermelho

In [ ]:
#19. Criar uma lista e remover um elemento específico.

progamadores= ["azul", "verde", "amarelo", "vermelho" ]
print(progamadores)

progamadores.remove("verde")
print(progamadores)

['azul', 'verde', 'amarelo', 'vermelho']
['azul', 'amarelo', 'vermelho']

In [ ]:
#20. Encontrar o maior e o menor número em uma lista de números.

numeros= [10, 77, 20, 27, 40, 51]
print(max(numeros))
print(min(numeros))

77
10

In [ ]:
#21. Criar uma lista e copiar os elementos para outra lista

progamador = ["Vitor", "Carlos", "Jessica", "Roberto"]
copia = progamador.copy()
print(copia)

['Vitor', 'Carlos', 'Jessica', 'Roberto']

In [ ]:
#22. Criar uma lista de frutas e verificar se "banana"; está presente.

frutas = ["maça", "banana", "uva", "morango"]
if "banana" in frutas:
  print("banana está presente")

banana está presente

In [ ]:
#23. Criar uma lista de 5 números e calcular a média dos elementos.

num = [1, 23, 12, 4, 7, 9]
media = sum(num) / len(num)
print(media)

9.333333333333334

In [ ]:
#24. Verificar se duas listas são idênticas (mesmo tamanho e valores na mesma ordem).

lista1 = [1, 2, 3, 4, 5]
lista2 = [1, 2, 3, 4, 5]
if lista1 == lista2:
  print("as listas são iguais")

as listas são iguais

In [ ]:
#25. verificar se um número específico está presente.

lista= [1, 2, 3, 4, 5]
print(3 in lista)

True

In [ ]:
#26. Criar uma lista de 5 números e exibir o primeiro e o último elemento.

lista = [1, 2, 3, 4, 10]
print(lista[0])
print(lista[-1])

1
10

In [ ]:
#27. Criar uma lista e contar quantos elementos ela tem.

lista = [1, 2, 3, 4, 5]
print(len(lista))

5

In [ ]:
#28. Criar uma lista vazia e adicionar 3 elementos nela.

lista = []
lista.append(1)
lista.append(2)
lista.append(3)
print(lista)

[1, 2, 3]